python-telegram-bot==20.3
pandas>=2.0.3
numpy
yfinance>=0.2.28
apscheduler>=3.10.1
sqlalchemy>=2.0.19
pytz>=2023.3
requests>=2.31.0
beautifulsoup4>=4.12.2
python-bidi>=0.4.2
arabic-reshaper>=3.0.0
psycopg2-binary>=2.9.6
pandas-ta
PyAlgoTrade
uvicorn
fastapi
python-telegram-bot[webhooks]==20.3
python-dotenv  # إذا كنت تستخدم ملف .env للمتغيرات البيئية